*{
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
header{
    width: 100%;
    background-color: #FF2929;
    text-align: center;
}
main{
    width: 100%;
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
main a{
    text-decoration: none;
    color: #000000;
}
.drop_area{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    margin: auto;
}
.drop_area.hover{
    background-color: #f1f1f1;
}
.inputfield{
    width: 15rem;
    height: 6rem;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: auto;
}
input{
    width: 15rem;
    height: 6rem;
    text-align: center;
    margin: auto;
}
footer{
    width: 100%;
    background-color: #000000;
    color: rgb(250, 250, 250);
}
.foot_content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; 
    padding-top: 2%; 
}
.foot_heading{
    width: 28rem;
}
.ab_pr{
    width: 10rem;
}
.social{
    width: 10rem;
}
.foot_heading,
.ab_pr,
.social{
    margin: 1%;
}
a{
    text-decoration: none;
    color: rgb(250, 250, 250);
}
a:hover{
    color: blue;
    text-decoration: underline;
}
.copyright{
    display: flex;
    justify-content: center;
}